# Pandas
Read "10 minutes to Pandas": https://pandas.pydata.org/docs/user_guide/10min.html before solving the exercises.
We will use the data set "cars_data" in the exercises below.

In [8]:
# Importing Pandas. 
import pandas as pd

### Explain what a CSV file is.

CSV (Comma-Separated Values) is a simple text-based file format used for storing data in a
tabular form. Each row in the file represents a record, and the fields within each row are separated by commas (or sometimes by other delimiters, such as semicolons).

### Load the data set "cars_data" through Pandas.

In [ ]:
# When reading in the data, either you have the data file in the same folder as your python script
# or in a seperate folder.

# Code below can be ran if you have the data file in the same folder as the script
# cars = pd.read_csv("cars_data.csv")

# Code below can be ran if you have the data file in another script. 
# Notice, you must change the path according to where you have the data in your computer. 
# pd.read_csv(r'C:\Users\Antonio Prgomet\Documents\ec_utbildning\kursframstallning\ds23\python_stat\exercises\numpy_matplot_pandas\cars_data.csv')

In [6]:
pd.read_csv(r'C:\Kunskapskontroll_1\cars_data.csv')

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...,...
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

### Print the first 10 rows of the data.

In [7]:
df[0:10]

NameError: name 'df' is not defined

### Print the last 5 rows.

### By using the info method, check how many non-null rows each column have.

### If any column has a missing value, drop the entire row. Notice, the operation should be inplace meaning you change the dataframe itself.

### Calculate the mean of each numeric column.

### Select the rows where the column "company" is equal to 'honda'.

### Sort the data set by price in descending order. This should *not* be an inplace operation.

### Select the rows where the column "company" is equal to any of the values (audi, bmw, porsche).

### Find the number of cars (rows) for each company.

### Find the maximum price for each company.